@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    height: 98vh;
    background: hsl(212, 45%, 89%); 
    font-family: Outfit, sans-serif; 
    font-size: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.main-box {
    width: 250px;
    min-height: 250px;
    background-color: white;
    padding: 20px;
    border: 1px solid hsl(212, 45%, 89%);
    border-radius: 20px;   
}

.main-box .qr-box img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 15px;   
}

.title {
    font-weight: 700; 
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: inline;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}